{# All menu and submenu items #}

{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul id="nav-main__topmenu" class="nav-main__topmenu clearfix" role="menu" aria-labelledby="dropdownMenu">
    {% elseif menu_level == 1 %}
      <ul class="nav-main__submenu" role="menu" aria-labelledby="dropdownMenu">
    {% else %}
      <ul class="nav-main__lastmenu" role="menu" aria-labelledby="dLabel">
    {% endif %}
    {% for item in items %}
      {% if item.below %}
        {% if menu_level == 0 %}
          <li class="nav-main__item nav-main__item--dropdown">
            <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }}</a>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </li>
        {% else %}
          <li class="nav-main__submenu__item">
            <a href="{{ item.url }}">{{ item.title }}</a>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </li>
        {% endif %}
      {% else %}
        <li class="nav-main__item" {{ item.attributes }}>{{ link(item.title, item.url) }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
